@model IEnumerable<seaFood.Models.order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/Admin.cshtml";}

<h2>Đơn Hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
        </td>
    </tr>
}

</table>
