@model seaFood.Models.order_details

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/Admin.cshtml";}

<h2>Details</h2>

<div>
    <h4>order_details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order.name_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.name_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.order_detail_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
