@model IEnumerable<seaFood.Models.order_details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/Admin.cshtml";
}

<h2>Chi Tiết Đơn Hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.name_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.product_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.name_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.product_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_detail_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_detail_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_detail_id })
        </td>
    </tr>
}

</table>
