@model seaFood.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
        #about{
            margin-left: 30px;
            margin-top: 30px;
        }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .col-sm-5 img{
      height:60vh;
      width: 65vh;
  }
  </style>

<div id="about">
    <div class="row">
        <div class="col-sm-5">
            <img src="~/images/@Model.images">
        </div>
        <div class="col-sm-5">
            <h2>@Html.DisplayFor(model => model.product_name)</h2><br />
            <div class="project-info-box">
                <p><b>Tên sản phẩm:</b> @Model.product_name</p>
                <p><b>Hải sản:</b> @Model.category.category_name</p>
                <p><b>Chế Biến</b> @Html.DisplayFor(model => model.subcategory.subcategory_name) </p>
            </div>
            <h4>Giá tiền: <b style="color:red;">@Html.DisplayFor(model => model.price) VNĐ</b></h4><br>
            <a href="@Url.Action("AddToCart","shoppingcart", new {MaSP = Model.product_id})">
                <button class="btn btn-success">
                    Thêm Vào Giỏ Hàng
                </button>
            </a>
        </div>
    </div>
    <div class="description_car">
        <div class="description">
            <p><b>Mô tả: </b></p>
        </div>
        @Html.Raw(Model.description)
    </div>
</div>
