@using seaFood.Models;
@model PagedList.PagedList<seaFood.Models.product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .news-detail {
        margin-top: 50px;
        margin-left: 80px;
    }

        .news-detail a {
            text-decoration: none;
            color: black;
        }

            .news-detail a img {
                height: 190px;
                width: 287px;
                transition: transform .6s;
            }

                .news-detail a img:hover {
                    -ms-transform: scale(1.5); /* IE 9 */
                    -webkit-transform: scale(1.5); /* Safari 3-8 */
                    transform: scale(1.5);
                }
                .MenuPage{
                    display: inline;
                }
</style>
<div class="news-detail">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "products", new { id = item.product_id })" class="card" style="width: 18rem;">
            <img src="~/images/@item.images" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.product_name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.price) VNĐ</p>
            </div>
        </a>
    }
</div>

<br />

<br />
<!-- Thêm phân trang vào -->
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>