@model IEnumerable<seaFood.Models.subcategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/Admin.cshtml";
 }

<h2>Danh sách món</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subcategory_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subcategory_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subcategory_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.subcategory_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subcategory_id })
        </td>
    </tr>
}

</table>
